In [24]:
import pandas 
deptDB=pandas.read_csv('C:/WSHongIk2021/data/sawonDB/deptDB.csv',names=['deptno','dname','loc'],header=None)
gogekDB=pandas.read_csv('../data/sawonDB/gogekDB.csv',names=['gobun','goname','gotel','gojumin','godam'],header=None)
sawonDB=pandas.read_csv('../data/sawonDB/sawonDB.csv',names=['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)

deptDB.columns=['deptno','dname','loc']
sawonDB.columns=['sabun','sananme','deptno','sajob','sapay','sahire',
                'sasex','samgr']

gogekDB.columns=['gobun','goname','gotel','gojumin','godam']




print(deptDB)
print(gogekDB)
print(sawonDB)

   deptno   dname    loc
0      10   '총무부'   '서울'
1      20   '영업부'   '대전'
2      30   '전산부'   '부산'
3      40   '관리부'   '광주'
   gobun goname        gotel           gojumin  godam
0      1   '뷰민'   '123-1234'  '700113-1537915'    3.0
1      2   '강민'  '1343-1455'  '690216-1627914'    2.0
2      3   '영희'   '144-1655'  '750320-2636215'    NaN
3      4   '철이'   '673-1674'  '770430-1234567'    4.0
4      5   '뷰완'   '123-1674'  '720521-1123675'    3.0
5      6   '캔디'   '673-1764'  '650725-2534566'    NaN
6      7   '똘이'   '176-7677'  '630608-1648614'    7.0
7      8   '쇠돌'   '673-6774'  '800804-1346574'    9.0
8      9   '홍이'   '767-1234'  '731225-1234689'   13.0
9     10   '안나'   '767-1677'  '751015-2432168'    4.0
    sabun sananme  deptno  sajob  sapay         sahire  sasex  samgr
0       1   '홍길동'      10   '회장'   5000   '1980/01/01'   '남자'   null
1       2   '한국남'      20   '부장'   3000   '1988/11/01'   '남자'      1
2       3   '이순신'      20   '과장'   3500   '1985/03/01'   '남자'      2
3       5   '이순라'      20   '사원'   1200   '1990/05/01'   '여자'      3
4       7   '놀기만'      20   '과장'   2300   '1996/06/01'   '여자'      2
5      11   '뷰별나'      20   '과장'   1600   '1989/12/01'   '여자'      2
6      14   '채시라'      20   '사원'   3400   '1993/10/01'   '여자'      3
7      17   '이성계'      30   '부장'   2803   '1984/05/01'   '남자'      1
8      13   '무궁화'      10   '부장'   3000   '1996/11/01'   '여자'      1
9      19   '임꺽정'      20   '사원'   2200   '1988/04/01'   '남자'      7
10     20   '깨똥이'      10   '과장'   4500   '1990/05/01'   '남자'     13
11      6   '공부만'      30   '과장'   4003   '1995/05/01'   '남자'     17
12      8   '채송화'      30   '대리'   1703   '1992/06/01'   '여자'     17
13      4   '이미라'      30   '대리'   2503   '1983/04/01'   '여자'     17
14     10   '공부해'      30   '사원'   1303   '1988/11/01'   '남자'      4
15     12   '뷰명한'      10   '대리'   1800   '1990/10/01'   '남자'     20
16      9   '무궁화'      10   '사원'   1100   '1984/08/01'   '여자'     12
17     15   '최진실'      10   '사원'   2000   '1991/04/01'   '여자'     12
18     16   '김유신'      30   '사원'    400   '1981/04/01'   '남자'      4
19     18   '강감찬'      30   '사원'   1003   '1986/07/01'   '남자'      4

In [29]:
#'' 삭제 후 재저장
sawonDB['saname']=sawonDB['sananme'].str.strip(' ')
sawonDB['sajob']=sawonDB['sajob'].str.strip(' ')
sawonDB['sahire']=sawonDB['sahire'].str.strip(' ')
sawonDB['saex']=sawonDB['sasex'].str.strip(' ')
# 공백 삭제 후 재저장
sawonDB['saname']=sawonDB['sananme'].str.strip()
sawonDB['sajob']=sawonDB['sajob'].str.strip()
sawonDB['sahire']=sawonDB['sahire'].str.strip()
sawonDB['saex']=sawonDB['sasex'].str.strip()

In [35]:
#최영현
#문제 01] Sawon DB 데이터에서 입사년도가 88년도인 사우너 출력
q1_lst88=[]
for idx in range(len(sawonDB)):
    q1_lst88.append(sawonDB['sahire'][idx][1:5]=='1988')
#sawonDB['sahire'][idx]의 값을 슬라이싱을 통해 88년도 비교,
#loc로 출력을 해줄 것이기에 q1_lst88 리스트 변수에 True, False 값 저장
print(q1_lst88)
sawonDB.loc[q1_lst88]
#loc에서 True인 값만 출력

[False, True, False, False, False, False, False, False, False, True, False, False, False, False, True, False, False, False, False, False]

    sabun saname  deptno sajob  sapay       sahire sasex samgr
1       2    한국남      20    부장   3000   1988/11/01    남자     1
9      19    임꺽정      20    사원   2200   1988/04/01    남자     7
14     10    공부해      30    사원   1303   1988/11/01    남자     4

In [61]:
#'' 삭제 후 재저장
sawonDB['saname']=sawonDB['saname'].str.strip(' ')
sawonDB['sajob']=sawonDB['sajob'].str.strip(' ')
sawonDB['sahire']=sawonDB['sahire'].str.strip(' ')
sawonDB['saex']=sawonDB['sasex'].str.strip(' ')

In [60]:
# 공백 삭제 후 재저장
sawonDB['saname']=sawonDB['saname'].str.strip()
sawonDB['sajob']=sawonDB['sajob'].str.strip()
sawonDB['sahire']=sawonDB['sahire'].str.strip()
sawonDB['saex']=sawonDB['sasex'].str.strip()

In [64]:
#문제 02] SawonDB 데이터에서 4월에 입사한 사원을 출력하시오.
q2_lst04=[]
for idx in range(len(sawonDB)):
    q2_lst04.append(sawonDB['sahire'][idx][6:8]=='04')
sawonDB.loc[q2_lst04]

    sabun saname  deptno sajob  sapay        sahire  sasex samgr  saex
9      19  '임꺽정'      20  '사원'   2200  '1988/04/01'   '남자'     7  '남자'
13      4  '이미라'      30  '대리'   2503  '1983/04/01'   '여자'    17  '여자'
17     15  '최진실'      10  '사원'   2000  '1991/04/01'   '여자'    12  '여자'
18     16  '김유신'      30  '사원'    400  '1981/04/01'   '남자'     4  '남자'

In [66]:
#'' 삭제 후 재저장
deptDB['deptno']=deptDB['deptno'].str.strip(' ')
deptDB['dname']=deptDB['dname'].str.strip(' ')
deptDB['loc']=deptDB['loc'].str.strip(' ')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [67]:
deptDB['deptno']=deptDB['deptno'].int.strip()
deptDB['dname']=deptDB['dname'].int.strip()
deptDB['loc']=deptDB['loc'].int.strip()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [77]:
gogekDB['gobun']=gogekDB['gobun']
gogekDB['goname']=gogekDB['goname'].str.strip(' ')
gogekDB['gotel']=gogekDB['gotel'].str.strip(' ')
gogekDB['gojumin']=gogekDB['gojumin'].str.strip(' ')
gogekDB['godam']=gogekDB['godam'].str.strip(' ')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [76]:
gogekDB['gobun']=gogekDB['gobun']
gogekDB['goname']=gogekDB['goname'].str.strip()
gogekDB['gotel']=gogekDB['gotel'].str.strip()
gogekDB['gojumin']=gogekDB['gojumin'].str.strip()
gogekDB['godam']=gogekDB['godam'].str.strip()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas