In [1]:
# #{} 딕셔너리로 되어 있으니까 열로 잡힐거임
# #implace=> 원본 데이터를 수정해라
# set_data는 
# ['서준','음악'] 행:서준 열:음악
#loc,iloc 없으면 컬럼(열)임 df['국어']

In [27]:

import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df, '\n')

#'이름'열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름',inplace=True)
print(df,'\n')

#데이터프레임의 df의 특정 원소 1개 선택(서준의 음악 점수)
a=df.loc['서준','음악']
print(a, '\n')
b=df.iloc[0,2]
print(b,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

85

85

In [28]:

#데이터프레임 df는 특정 원소 2개 이상 선택('서준'의 음악, 체육 점수)
c=df.loc['서준',['음악','체육']]
print(c,'\n')
d=df.iloc[0,[2,3]]
print(d, '\n')
e=df.loc['서준','음악':'체육']
print(e,'\n')
f=df.iloc[0,2:]
print(f, '\n')

#df의 2개 이상의 행과 열로부터 원소 선택
#(서준, 우현의 음악, 체육 점수)
g=df.loc[['서준','우현'],['음악','체육']]
print(g, '\n')
h=df.iloc[[0,1],[2,3]]
print("df.iloc[[0,1],[2,3]]\n",h,'\n')
i=df.loc['서준':'우현','음악':'체육']
print("df.loc['서준':'우현', '음악':'체육']\n",i,'\n')
j=df.iloc[0:2,2:]
print(j)

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90

df.iloc[[0,1],[2,3]]
     음악   체육
이름
서준  85  100
우현  95   90

df.loc['서준':'우현', '음악':'체육']
     음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

In [8]:
df.loc[:,['음악','체육']]

    음악   체육
0   85  100
1   95   90
2  100   90

In [9]:
print(df)
df.iloc[:,[2,3]]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   영어   음악
0  98   85
1  89   95
2  95  100

In [10]:
df.iloc[:,2:4]

   영어   음악
0  98   85
1  89   95
2  95  100

In [29]:
#Pandas07_08_AddRowsCols01_김채현
#1.12_add_column

In [31]:
import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df,'\n')

#데이터프레임 df에 '국어' 점수 열(column)을 추가.데이터 값은 80 지정
print('-')
df['국어']=80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

-
   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [36]:
import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df,'\n')

#새로운 행(row)를 추가- 같은 원소 값을 입력
df.loc[3]=0
print(df,'\n')

#새로운 행(row)를 추가-원소 값 여러 개의 배열 입력
df.loc[4]=['동규', 90,80,70,60]
print(df,'\n')

#새로운 행(row)을 추가-기존 행을 복사
df.loc['행5']=df.loc[3] #loc[3]행을 loc['행5']에 복사
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [ ]:
#Pandas07_09_modify01_김채현

In [2]:
import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df,'\n')

#'이름'열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df, '\n')

#데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3]=80
print(df,'\n')

df.loc['서준']['체육']=90
print(df,'\n')

df.loc['서준','체육']=100
print(df, '\n')

#df.loc['서준']['체육']=df.loc['서준','체육']

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
#Pandas07_10_transpose01_김채현

In [4]:
#데이터프레임 df의 원소 여러 개를 변경하는 방법:서준의 음악, 체육 점수
df.loc['서준',['음악','체육']]=50
print(df,'\n')

df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [5]:
#transpose
#transpose=T

In [1]:
import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df,'\n')

#데이터프레임 df를 전치하기(메소드 활용)

df=df.transpose()
print(df,'\n')

#데이터프레임 df를 또 다시 전치하기(클래스 속성 활용)
df=df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [6]:
import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df,'\n')

#특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정
ndf=df.set_index(['이름'])#[]씌우는건 데이터 형식이냐 아니냐임
#하나는 안씌워도 되지만 두개 이상부터는 씌우냐 안 씌우냐에 따라
#나오는 값이 달라짐
print(ndf, '\n')
ndf2=ndf.set_index('음악')
print(ndf2,'\n')
ndf3=ndf.set_index(['수학','음악'])
print(ndf3)
ndf5=ndf.set_index('수학','음악')
print(ndf5)
ndf4=df.set_index(['음악','체육'])
print(ndf4)
ndf6=df.set_index('음악','체육')
print(ndf6)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

    영어   음악   체육
수학
90  98   85  100
80  89   95   90
70  95  100   90
         이름  수학  영어
음악  체육
85  100  서준  90  98
95  90   우현  80  89
100 90   인아  70  95