In [1]:
# #{} 딕셔너리로 되어 있으니까 열로 잡힐거임
# #implace=> 원본 데이터를 수정해라
# set_data는 
# ['서준','음악'] 행:서준 열:음악
#loc,iloc 없으면 컬럼(열)임 df['국어']
#Pandas07_07_SeriesRowsCols02_김채현

In [27]:

import pandas as pd
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98, 89,95],
          '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df, '\n')

#'이름'열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름',inplace=True)
print(df,'\n')

#데이터프레임의 df의 특정 원소 1개 선택(서준의 음악 점수)
a=df.loc['서준','음악']
print(a, '\n')
b=df.iloc[0,2]
print(b,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

85

85

In [28]:

#데이터프레임 df는 특정 원소 2개 이상 선택('서준'의 음악, 체육 점수)
c=df.loc['서준',['음악','체육']]
print(c,'\n')
d=df.iloc[0,[2,3]]
print(d, '\n')
e=df.loc['서준','음악':'체육']
print(e,'\n')
f=df.iloc[0,2:]
print(f, '\n')

#df의 2개 이상의 행과 열로부터 원소 선택
#(서준, 우현의 음악, 체육 점수)
g=df.loc[['서준','우현'],['음악','체육']]
print(g, '\n')
h=df.iloc[[0,1],[2,3]]
print("df.iloc[[0,1],[2,3]]\n",h,'\n')
i=df.loc['서준':'우현','음악':'체육']
print("df.loc['서준':'우현', '음악':'체육']\n",i,'\n')
j=df.iloc[0:2,2:]
print(j)

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90

df.iloc[[0,1],[2,3]]
     음악   체육
이름
서준  85  100
우현  95   90

df.loc['서준':'우현', '음악':'체육']
     음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

In [8]:
df.loc[:,['음악','체육']]

    음악   체육
0   85  100
1   95   90
2  100   90

In [9]:
print(df)
df.iloc[:,[2,3]]

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   영어   음악
0  98   85
1  89   95
2  95  100

In [10]:
df.iloc[:,2:4]

   영어   음악
0  98   85
1  89   95
2  95  100