In [2]:
#Pandas08_04_OperBool01_김채현

In [13]:
#시리즈와 불린 추출 사용하기(59쪽)
import pandas as pd
scientists=pd.read_csv('../data/scientists.csv')

ages=scientists['Age']
print(ages.max())

90

In [12]:
ages=scientists['Age']
print(ages.max())

90

In [13]:
print(ages.mean())

59.125

In [14]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [15]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [16]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [17]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [15]:
manual_bool_values=[True,True, False,False,True,True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [16]:
#Pandas08_05_Oper_김채현
#벡터와 스칼라로 브로드캐스팅수행하기
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [17]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [18]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [19]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [20]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [21]:
print(ages,'\n\n')
print(pd.Series([1,100]),'\n\n')
print(ages+pd.Series([1,100]))

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64


0      1
1    100
dtype: int64


0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [22]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [23]:
rev_ages=ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [24]:
print(ages*2)
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64